*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AppLayout{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.AppHeader{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 4px 10px;
}

.SideMenuAndAppContent{
  display: flex;
  flex: 1;
}

.AppSidebar{
  width: 20%;
}

.AppContent{
  width: 100%;
  max-height: 90vh;
  padding: 10px;
  background-color: #f3f1f3;
}
.DashboardContainer .RecentOrders{
  margin-right: 14px;
}

.AppFooter{
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #ddd;
  padding: 4px 10px;
}